.section {
  padding: 70px 0px;
  overflow: hidden;
  width: 100%;
  position: relative;
  z-index: 1;

  &.event-details {
    padding: 20px 0;

    time {
      font-size: rem-calc(18);
      font-weight: $global-weight-normal;

      i {
        margin-right: 10px;
        font-size: rem-calc(18);
      }
    }
  }

  &.single-news-details {
    time {
      i {
        margin-right: 10px;
      }
    }
  }

  &.simple-section {
    .simple {
      ul {
        h2, h3, h4, h5, h6 {
          color: $teal;
          text-transform: none;
        }
      }
    }
  }

  &.members {
    padding: 30px 0 10px;
  }

  &.option-section {
    top: -5px;

    .button {
      text-align: left;
      box-shadow: 0 0 10px 0 rgba($black, 0.25);

      &:hover {
        .icon {
          right: 30px;
        }
      }

      .icon {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 30px;
        @include transition(right);
      }

      @include breakpoint(medium up) {
        font-size: rem-calc(21);
      }
    }
  }

  &.signatories-filtering {
    @extend .resources-filtering;
  }

  &.news-filter {
    @extend .resources-filtering;
  }

  &.resources-filtering {
    select, [type=search] {
      box-shadow: 0 0 4px 0 rgba($black, 0.27);
      background-color: $white;
      border-color: $white;
      color: $medium-gray;
    }
  }

  &.news {
    .card {
      box-shadow: 0 0 10px 0 rgba(177,177,177,0.5);
    }
  }

  &.resources {
    .slick-list {
      padding: 20px 0;
    }
  }

  &.signatories-filtering {
    .signatory {

      .card {
        box-shadow: 0 0 15px 0 rgba(177,177,177,0.5);
        padding: 23px 20px;
        height: 100%;
      }

      .card-image {
        min-height: 150px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: $light-gray;
      }
    }
  }

  &.cards {
    .medium-3 {
      .button {
        font-size: rem-calc(21);

        &:hover {
          .icon {
            margin-left: 8px;
          }
        }

        .icon {
          margin-left: 12px;
          @include transition(margin-left);
        }
      }
    }
  }
}
