$button-palette: $ip-palette;
$button-color: $white;
$button-color-alt: $white;
$button-responsive-expanded: true;
$button-padding: 19px 41.5px;
$button-transition: all 150ms ease-in-out;
@include foundation-button;

.button {
  text-transform: uppercase;
  outline: none;
  position: relative;
  font-weight: $global-weight-bold;
  font-size: rem-calc(17);

  &:hover {
    .icon {
      margin-left: 8px;
    }
  }

  .icon {
    margin-left: 12px;
    @include transition(margin-left);
  }

  &.white {
    @each $name, $color in $ip-palette {

      &.ip-#{$name} {
        color: $color !important;
      }
    }
  }

  &.clear {
    padding: 0;

    &.expanded {
      text-align: left;

      .icon {
        margin-left: 20px;

        @include breakpoint(small only) {
          position: absolute;
          margin-left: 0;
          right: 25px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 30px;
        }
      }
    }
  }

  @each $name, $color in $ip-palette {
    &.#{$name} {
      &.ip-#{$name} {
        color: $color !important;
      }
    }
  }

}
