$card-border: 0;
$card-padding: 0;
$card-margin-bottom: 3px;

@include foundation-card;

.cards-section {

  .medium-6.large-4 {
    position: relative;

    &.post {

      @include breakpoint(medium up) {
        display: inline-flex !important;
        height: 100%;
      }

      .event-url {
        .sharethis-inline-share-buttons {

          .st-btn {
            border: 1px solid $pink !important;
          }

          path {
            fill: $pink;
          }
        }
      }
    }

    &.team {
      .card-image {
        height: 217px;
      }
    }

    .event-url {
      position: absolute;
      top: 0;
      right: 0;
      width: 48px;
      height: 48px;
      background-color: $white;
      box-shadow: -4px 4px 9px 0 rgba($black, .12);

      .sharethis-inline-share-buttons {
        height: 100%;
        display: flex !important;
        align-items: center;
        justify-content: center;

        .st-btn {
          border: 1px solid $orange !important;
          background-color: transparent !important;
        }

        path {
          fill: $orange;
        }
      }
    }
  }

  time {
    font-size: rem-calc(15);
    font-weight: $global-weight-normal;

    i {
      margin-right: 15px;
      font-size: rem-calc(15);
    }
  }

  .button {
    font-size: rem-calc(17);

    &:hover {
      .icon {
        margin-left: 8px;
      }
    }

    .icon {
      margin-left: 12px;
      @include transition(margin-left);
    }
  }
}

.card-image {
  min-height: 150px;
  background-color: $light-gray;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-section {
  padding: 21px 19px;
}
