@import 'modules/slick-base';

.slick-arrow {
  z-index: 2;
  position: absolute;
  top: 80%;
  cursor: pointer;

  @include breakpoint(small only) {
    top: 20%;
  }

  svg {
    width: 36px;
    height: 36px;

    @include breakpoint(medium up) {
      width: 72px;
      height: 72px;
    }
  }

  &.prev {
    right: 12%;

    @include breakpoint(small only) {
      right: 18%;
    }

    @media screen and #{breakpoint(medium)} and #{breakpoint(mediumLand down)} {
      right: 20%;
    }
  }

  &.next {
    right: 5%;
  }
}
