$orange: map-get($ip-palette, "orange");

footer {
  padding: 39px 28px;
  background-color: $dark-gray;

  h3 {
    a {
      text-transform: uppercase;
      text-decoration: underline;

      &:hover {
        color: $orange;
      }
    }
  }

  .menu {
    margin-top: 21px;

    &.no-arrows {
      a {
        &::after {
          content: '';
        }
      }
    }

    li {
      margin-bottom: 9px;
      line-height: 1.1;
    }

    a {
      color: $white;
      display: block;
      width: 100%;
      position: relative;
      font-weight: $global-weight-light;
      padding-right: 54px;

      i {
        color: $orange;
        margin-right: 13px;
      }

      &::after{
        content: '\f301';
        font-family: 'Material-Design-Iconic-Font';
        font-size: 20px;
        color: $orange;
        position: absolute;
        right: 10%;
        @include transition(right);
        top: 50%;
        transform: translateY(-50%);
      }

      &:hover {
        color: $orange;

        &::after {
          right: 15%;
        }
      }
    }
  }
}

.copyright {
  @include breakpoint(medium up) {
    font-size: rem-calc(18);
    font-weight: $global-weight-bold;
  }
}

.sub-footer {
  a {
    &:hover {
      color: $orange;
    }
  }
}

body #st-2 {
  &.st-sticky-share-buttons {
    .st-btn {
      background-color: $white;

      &:not(.st-last) {
        border-bottom: 1px solid $light-gray;
      }

      svg {
        path {
          fill: $orange;
        }
      }
    }
  }
}
