.admin-bar {
  #header {
    top: 32px;
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;

  .sticky {
    padding: 20px 0px;
    z-index: 4;
    @include transition(background-color, box-shadow);

    @include breakpoint(large) {
      background-color: rgba($white, .8);
      padding-bottom: 5px;
    }

    &.no-transparent {
      background-color: $white;
      box-shadow: 0 10px 10px 0 rgba($black ,0.1);
    }
  }

  a {
    &:not(.button) {
      color: $teal;
      text-transform: uppercase;
      font-weight: $global-weight-bold;
      font-size: rem-calc(20);
    }
  }

  .logo {
    svg {

      width: 150px;

      @include breakpoint(medium only) {
        width: 271px;
      }

      @include breakpoint(medium up) {
        width: 100%;
      }
    }
  }

  .main-menu {
    @include breakpoint(mediumLand) {
      .mediumLand-7 {
        padding-right: 30px;
      }
    }
  }
}

#search {
  i {
    font-size: 40px;
    color: $teal;
  }
}

.search-form {

  &.section {
    padding-top: 40px;
  }

  input {
    border-color: $pink;
    color: $black;
  }
}

.sidebar {
  position: fixed;
  right: -100%;
  background-color: $white;
  bottom: 0;
  overflow-y: auto;
  top: 0;
  width: 100%;
  z-index: 3;
  box-shadow: -3px 0 10px 0 rgba(0,0,0,0.36);
  padding-bottom: 40px;
  @include transition(right);

  &.open {
    right: 0;
  }

  @include breakpoint(medium up) {
    max-width: 435px;
  }

  ul {
    list-style: none;

    > li {
      margin-bottom: 20px;
      line-height: 1.2;

      &.super-parent {
        a {

          &:not(.button) {
            color: map-get($ip-palette, "orange");
            font-size: rem-calc(18);
            font-weight: $global-weight-bold;
            text-transform: none;

            &::after {
              font-weight: $global-weight-normal;
            }
          }
        }
      }

      a {

        &.button {
          text-align: left;

          .icon {
            font-size: 30px;
            position: absolute;
            right: 5%;
            @include transition(right);
            top: 50%;
            transform: translateY(-50%);
          }

          &.expanded {
            width: 90%;
          }
        }

        &:not(.button) {
          font-size: rem-calc(21);
          color: map-get($ip-palette, "teal");
          text-transform: uppercase;
          display: block;
          width: 100%;
          position: relative;
          font-weight: $global-weight-bold;

          @include breakpoint(medium) {
            padding-left: 40px;
          }

          &:hover {
            &::after {
              right: 15%;
            }
          }

          &::after{
            content: '\f301';
            font-family: 'Material-Design-Iconic-Font';
            font-size: 30px;
            color: map-get($ip-palette, "orange");
            position: absolute;
            right: 10%;
            @include transition(right);
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }

    ul {
      text-indent: 0;
      margin: 20px 0 0;

      li {
        margin-bottom: 10px;
      }

      a {

        &:not(.button) {
          font-size: rem-calc(16);
          text-transform: none;
          font-weight: $global-weight-normal;
        }
      }
    }
  }
}
