.edge, .ie {
  @include breakpoint(medium up) {
    .home-banner {

      .slick-track {
        display: block;
      }

      .slick-slide {
        display: block;
        max-width: inherit;
      }
    }
  }

  .cookie-notice-container {
    display: block;
  }

  .ie-block {
    a {
      display: inline;
      font-size: rem-calc(15);

      @include breakpoint(medium only) {
        font-size: rem-calc(12);
      }
    }
  }
}
