.edge, .ie {
  @include breakpoint(medium up) {
    .home-banner {

      .slick-track {
        display: block;
      }
      
      .slick-slide {
        display: block;
        max-width: inherit;
      }
    }

    .ie-block {
      a {
        display: inline;
        font-size: rem-calc(15);
      }
    }
  }
}
